<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<link rel="stylesheet" href="header-style.css">
<style>
    h2 {
        text-align: center;
    }
    #reg-link {
        margin: 1em auto;
        width: fit-content;
        font-size: 14pt;
        display: block;
        color: black;
    }
    #reg-link:hover {
        color: gray;
    }
</style>
<body>
    <form action="/j_spring_security_check" method="post" class="auth-form">
        <h2>ZNetwork login</h2>
        <label class="form-label">Enter email</label>
        <input type="text" name="email" class="form-control" id="input_email" placeholder="Email">
        <label class="form-label">Enter password</label>
        <input type='password' name='password' class="form-control" id="input_password" placeholder="Password">
        <button type="submit" id="auth-send-button">Login</button>
        <a href="/signup" id="reg-link">Sign up</a>
    </form>
</body>
</html>