<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ZNetwork</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<link rel="stylesheet" href="CSS/common-style.css">
<link rel="stylesheet" href="CSS/messages.css">

<body>

<div class="container" id="page-holder">
    <th:block th:include="includes/side-bar"> </th:block>
    <div class="container" id="main-block">
        <th:block th:include="includes/header.html"> </th:block>
        <th:block th:include="includes/send-message.html"> </th:block>
        <th:block th:include="includes/messages.html"> </th:block>
    </div>
</div>
<th:block th:include="includes/footer.html"></th:block>
</body>
<script src="JS/items.js"></script>
<script src="JS/posts.js"></script>
</html>