<div class="items-container" id="users-container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:each="user, state : ${users}" class="user">
        <span th:text="${user.username}" class="user-username"></span>
        <span th:text="${user.email}" class="user-email"></span>
        <div class="user-forms-container">
            <form method="post" action="/friends" class="add-friend-form">
                <input type="hidden" name="id" class="id-input" th:value="${user.id}">
                <input type="hidden" class="action-input" name="action" th:value="${user.friend} ? 'Remove' : 'Add'">
                <button type="submit" class="users-form-button" th:text="${user.friend} ? 'Remove from friends' : 'Add to friends'"></button>
            </form>
            <form method="get" action="/chat">
                <input type="hidden" name="id" class="id-input" th:value="${user.id}">
                <button type="submit" class="users-form-button">Open chat</button>
            </form>
        </div>
        <div class="divider"></div>
    </div>
</div>